@font-face {
    font-family: 'brusher';
    src: url('../fonts/brusher.woff2') format('woff2'),
         url('../fonts/brusher.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
