body {
    font: 16px/1.4 'Source Sans Pro', sans-serif;
    background-color: #dd0332;
    color: #fff;
    margin: 2em 2em 70px;
}

h1 {
    font: 20vw/1 'brusher', sans-serif;
    color: #fff;
    text-align: center;
    transform: rotate(-5deg);
    margin: .5em 0 .2em;
}

p {
    margin: 0 0 1em;
    clear: both;
}

a:link, a:visited, a:hover, a:active {
    color: #fff;
}

.intro {
    font-weight: 700;
    text-align: center;
}

button {
    cursor: pointer;
    font: 700 11vw/1 'Source Sans Pro', sans-serif;
    background-color: #fff;
    color: #0d0d0d;
    width: 100%;
    height: 41vw;
    text-align: center;
    margin-bottom: .5em;
    vertical-align: middle;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    padding: 0;
    margin-top: .2em;
    box-shadow: inset 0px -5px 11px rgba(0, 0, 0, 0.2);
    transition: transform .1s;
}

button:active {
    transform: translateY(5px);
}

button[disabled] {
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
}

.btnOn {
    float: left;
    width: 48%;
}

.btnOff {
    float: right;
    width: 48%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.logo {
    height: 30px;
    display: block;
    margin: 10px auto;
}
